body{
    background: #f5f5f5;
}

h1{
    text-align: center;
    font-family: cursive, sans-serif; 
}

.box{
    height: 100px;
    width: 100px;
}

.red{
    display: flex;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.orange{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.red-yellow{
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 30vh;
    align-items: center;
}

.orange-green{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.animation{
    opacity: 0.5;
    transform: scale(0.9);
}

.game-text{
    cursor: pointer;
    color: red;
}

